{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Enviar {% endblock %}

{% block body %}
<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <h2 class="ui horizontal divider header">Novo E-mail</h2>

        <div class="ui segment">
            <form class="ui form" method="post" action=".">
                {% csrf_token %}
                <!--{{ form.as_p }}-->

                {% if user.is_authenticated %}
                <div class="field">
                    <label>De:</label>
                    <input type="text" name="remetente" value="{{user.email}}" disabled/>
                </div>
                {% endif %}

                <div class="field">
                    <label>Para:</label>
                    {{form.destinatario}}
                    {% if form.destinatario.erros %}
                    {{form.destinatario.erros }}
                    {% endif %}
                </div>

                <div class="field">
                    <label>Assunto:</label>
                    {{form.assunto}}
                    {% if form.assunto.erros %}
                    {{form.assunto.erros }}
                    {% endif %}
                </div>

                <div class="field">
                    <label>Mensagem:</label>
                    {{form.mensagem}}
                    {% if form.mensagem.erros %}
                    {{form.mensagem.erros }}
                    {% endif %}
                </div>

                <input class="ui button" type="submit" value="Enviar"/>
            </form>
        </div>
    </div>
    <div class="two wide column"></div>
</div>
{% endblock %}
