{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Enviados {% endblock %}

{% block body %}

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <h2 class="ui horizontal divider header">E-mails Enviados</h2>
        {% if user.is_authenticated %}
        {% if object_list %}
        {% for email in object_list %}
        <div class="ui celled list">
            <div class="item">
                <div class="right floated content">
                    <b>{{email.data|date:'d-m-Y - H:i'}}</b>
                </div>
                <div class="content">
                    <i class="mail icon"></i>
                    <b>Para: {{email.destinatario}}</b> | <b>Assunto: </b>{{email.assunto}} | <b>Mensagem: </b>
                    {{email.mensagem}}
                </div>
            </div>
        </div>
        {% endfor%}
        {% else %}
        <div class="ui message">
            <div class="header">
                E-mails enviados.
            </div>
            <p>Você ainda não enviou e-mails. Para enviar um e-mail clique em novo e-mail.</p>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="two wide column"></div>
</div>
{% endblock %}
