<div class="ui stackable labeled inverted icon menu">
    {% if user.is_authenticated %}
    <a href="{% url 'email-list' %}" class="item">
        <i class="home icon"></i>
        Home
    </a>
    <a href="{% url 'email-form' %}" class="item">
        <i class="mail icon"></i>
        Novo E-mail
    </a>

    <div class="right menu">
        <div class="item">
            <i class="user icon"></i>
            {{user.username}}
        </div>
        <a href="{% url 'auth_logout' %}?next={% url 'login' %}" class="item">
            <i class="sign out icon"></i>
            Sair
        </a>
    </div>
    {% else %}
    <a href="{% url 'login' %}" class="item">
        <i class="home icon"></i>
        Home
    </a>

    <div class="right menu">
        <a href="{% url 'login' %}" class="item">
            <i class="sign in icon"></i>
            Entrar
        </a>
    </div>
    {% endif %}
</div>
