body {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    width: 100%;
    min-height: 100%;
}

section {
    width: 100%;
    height: 100%;
    margin: 0% 0% 0% 0%;
}

header {
    min-height: 15%;
    margin: 0% 0% 0% 0%;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

article {
    text-align: center;
    min-height: 75% !important;
}

footer {
    min-height: 10%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    text-align: center;
    background: #000000;
    color: #fff;
}

.ui.form .field > label {
    float: left;
}

.ui.celled.list {
    margin-top: 0%;
    margin-bottom: 0%;
}

.ui.list > .item > .content {
    padding: 5px;
    float: left;
}
