<html>
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Artia {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js'%}"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>

</head>

<body>
<section>
    <header>
        <div class="nav">
            {% include "app_enviar_email/menu_superior.html" %}
        </div>
    </header>


    <article class="ui stackable grid">
        <div class="row"></div>
        <div class="row">
            {% block body %}{% endblock %}
        </div>
        <div class="row"></div>
    </article>

    <footer class="ui centered middle aligned stackable grid azul">
        <div class="one wide column"></div>
        <div class="eight wide column ui center aligned basic segment">
            <div class="row">Desenvolvido por Marilia Ribeiro da Silva</div>
        </div>
        <div class="one wide column"></div>
    </footer>
</section>
</body>
</html>
